{% extends "layout.html" %}

{% block title %}
    Buy shares
{% endblock %}

{% block main %}
    <div class="section">
        <form action="/buy" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock symbol" type="text">
                <input autocomplete="off" class="form-control" name="shares" placeholder="Shares" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Place Order</button>
        </form>
    </div>
    <div>
        <h5>Cash on hand: {{ cash }}</h5>
    </div>
    {% if quote %}
    <div class="section">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ quote['symbol'] }}</td>
                    <td>{{ quote['name'] }}</td>
                    <td>{{ quote['price'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
